// ===================================================
// Base Styles
// ===================================================

* {
    box-sizing: border-box;
}

html,
body {
    font-size: $font-size--base;
    font-family: $font-family--base;
}

h1 {
    padding: 0 0 1em 0;
    margin: 0;
    text-align: center;
    text-decoration: underline;
    color: $color__heading--primary;
    font-weight: $font-weight--bold;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    padding: 0 0 0.5em 0;
    margin: 0;
    text-align: center;
    color: $color__heading--secondary;
    font-weight: $font-weight--bold;
    text-decoration: underline;
}

footer {
    color: $white;
    background-color: $black;
    padding: 1em 0;
    text-align: center;
}
